* { 
    margin: 0;
    padding: 0;
}
nav {
    background-color: darkblue;
    padding: 10px;

}
    
nav a{
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: darkblue;
    border: 1px solid darkblue;
}

img {
    width: 100px;
    height: auto;
    border: 1.5px solid rgb(0, 0, 0);
    padding: 10px;
    box-shadow: 0 0 15px #333;
}

p {
    padding: 10px;
}